<div class="grid h-screen grid-rows-[auto_1fr]">
  <header class="bg-whiteshadow min-h-20">
    <ng-content select="[layout-header]">Header</ng-content>
  </header>

  <div class="grid min-h-0 grid-cols-[auto_1fr]">
    <aside class="overflow-y-auto">
      <ng-content select="[layout-sidebar]">
        <div class="h-[3000px]">Aside (Giờ đã cuộn riêng)</div>
      </ng-content>
    </aside>

    <main class="min-h-0 overflow-y-auto">
      <ng-content select="[layout-main]">
        <div class="h-[3000px]">Main (Giờ cũng đã cuộn riêng)</div>
      </ng-content>
    </main>
  </div>
</div>
