<section class="bg-white py-8">
  @if (product(); as p) {
    <div class="container px-4">
      <div class="grid grid-cols-4 gap-20">
        <div class="col-span-2">
          <div class="rounded-lg bg-gray-100">
            <img src="img/products/Chinese-Broccoli-Gai-Lan-2lb-removebg-preview.webp" />
          </div>
        </div>
        <div class="col-span-2">
          <div class="ml-5">
            <!-- Title -->
            <div class="mb-3">
              <p class="text-xs">
                <span class="text-gray-400"> In stock </span>
                <span class="pl-1 font-normal text-green-600">{{ p.stock }}</span>
              </p>
              <h1 class="mb-1 text-lg leading-7 font-semibold text-gray-800 md:text-xl lg:text-2xl">
                {{ p.name }}
              </h1>
              <div class="ml-1 flex gap-2 text-xs text-gray-400">
                <div class="flex items-center"><app-star-icons /></div>
                <span class="font-medium">0.0 </span>( 0 reviews )
              </div>
            </div>
            <!-- Price -->
            <div class="mb-8 flex items-center">
              @if (isInSale()) {
                <span class="inline-block text-xl font-bold">${{ p.salePrice }}</span>
                <span class="ml-1 text-sm font-normal text-gray-400">${{ p.compareAtPrice }}</span>
                <div class="ml-3">
                  <span
                    class="inline-flex items-center rounded-full bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-red-600/10 ring-inset"
                    >30.43% Off
                  </span>
                </div>
              } @else {
                <span class="inline-block text-xl font-bold">${{ p.compareAtPrice }}</span>
              }
            </div>

            <!-- action -->
            <form>
              <div class="grid grid-cols-2 gap-8">
                <div class="col-span-1">
                  <div class="flex rounded-lg border border-gray-200">
                    <button matIconButton>-</button>
                    <input
                      type="number"
                      class="flex-1 border border-gray-200 text-center"
                      value="0"
                    />
                    <button matIconButton>+</button>
                  </div>
                </div>
                <div class="col-span-1">
                  <button matButton="filled" class="w-full">Add to Card</button>
                </div>
              </div>
            </form>

            <!-- Description -->
            <div class="mt-4">
              <p class="d-block py-1 text-sm font-semibold">
                <span class="text-gray-700">Category:</span>
                @if (category(); as cat) {
                  <a [routerLink]="['/category', cat.id]">
                    <span class="ml-2 font-medium text-gray-600 hover:text-blue-900">
                      {{ cat.name }}
                    </span>
                  </a>
                }
              </p>

              <ul class="mt-2 flex gap-2">
                @for (tag of p.tags; track tag.id) {
                  <li
                    class="inline-flex max-w-1/4 items-center justify-center rounded border-0 bg-gray-100 px-2 py-1 text-xs text-gray-500"
                  >
                    {{ tag.name }}
                  </li>
                }
              </ul>
            </div>

            <hr class="my-6" />
          </div>
        </div>
      </div>
    </div>
  }
</section>
