<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Base Spring Boot logging -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <springProperty scope="context"
                    name="application_name"
                    source="spring.application.name"/>

    <!-- ============================= -->
    <!-- LOGSTASH APPENDER (ONLY ELK) -->
    <!-- ============================= -->
    <springProfile name="elk">

        <appender name="LOGSTASH"
                  class="net.logstash.logback.appender.LogstashTcpSocketAppender">

            <!-- Dùng ENV thay vì hardcode localhost -->
            <destination>${LOGSTASH_HOST:localhost}:${LOGSTASH_PORT:5000}</destination>

            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGSTASH"/>
        </root>

    </springProfile>


    <!-- ============================= -->
    <!-- DEFAULT (NO ELK) -->
    <!-- ============================= -->
    <springProfile name="!elk">

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>

</configuration>