@if (user$ | async; as user) {
  <div class="user-menu-wrapper">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="user-menu-trigger">
      <app-avatar [name]="user.name" [src]="user.avatarUrl" />
    </button>
    <mat-menu #menu="matMenu" class="menu">
      <div class="menu-header">
        <app-avatar
          class="menu-header__item-left"
          [name]="user.name"
          [src]="user.avatarUrl"
        ></app-avatar>
        <div class="user-info menu-header__item-right">
          <div class="user-info__name">{{ user.name }}</div>
          <div class="user-info__role">
            <mat-chip>{{ user.role }}</mat-chip>
          </div>
          <div class="user-info__email">{{ user.email }}</div>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="menu-content">
        <button mat-menu-item (click)="openProfile()" ><mat-icon>account_circle</mat-icon> Hồ sơ</button>
        <button mat-menu-item (click)="openChangePassword()" ><mat-icon>password</mat-icon>Đổi mật khẩu</button>
      </div>

      <mat-divider></mat-divider>
      <div class="menu-footer">
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Đăng xuất</button>
      </div>
    </mat-menu>
  </div>
}
