.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

app-top-bar {

}

app-side-bar {
  width: 240px;
}


.content {
  flex: 1;
}
