<div class="layout">
  <app-top-bar class="layout-top-bar" (onToggleColapse)="toggleCollapse()" />
  <mat-sidenav-container class="layout-container">
    <mat-sidenav
      mode="side"
      [disableClose]="true"
      opened="true"
      class="layout-sidebar"
      [class.collapsed]="collapsed"
    >
      <app-side-bar (onToggleColapse)="toggleCollapse()" [collapsed]="collapsed" />
    </mat-sidenav>
    <mat-sidenav-content class="layout-content" [class.collapsed]="collapsed">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
