main {
  background-color: beige;
  padding-top: 20px;
  min-height: 100vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--mat-sys-surface, transparent);
}

.product-table {
  width: 100%;
}

.header-action {
  display: inline-flex;
  align-items: center;
  gap: 6px ;

  padding: 4px 8px ;
  border-radius: 6px;

  cursor: pointer;
  width: fit-content;

  color: var(--mat-sys-on-surface-variant);

  transition:
    background-color 150ms ease,
    color 150ms ease;

  &:hover {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-secondary);
  }
}

.header-text {
  white-space: nowrap;
}

.header-icon {
  font-size: 18px;
  line-height: 1;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-table tr:hover,
.product-table td:hover {
  background-color: rgb(204, 204, 204, 0.3);
  transition: background-color linear 50ms;
}

.mat-column-id {
  text-align: center;
}

.mat-column-price , .mat-column-price .header-action {
  text-align: right;
  justify-content: flex-end;
  font-weight: 600;
}

.mat-column-price .header-action {
  padding-right: 0px;
}

.mat-column-status {
  text-align: center;
  text-transform: uppercase;
}

.mat-column-action {
  text-align: center;
}

.action-menu .mat-mdc-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.action-menu .mat-mdc-menu-item.danger:hover {
  background-color: rgba(239, 68, 68, 0.15);
}

.product-table-footer {
  margin-top: 10px;
  display: flex;
  background: var(--mat-sys-surface, transparent);
  display: flex;
  align-items: center; /* quan trọng */
  min-height: 56px; /* cùng height với mat-paginator */
  padding: 0 16px;
}

.product-table__selection-info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6); /* hoặc theo theme */
  white-space: nowrap;
}

.product-table__pagination {
  flex-grow: 1;
}

