<div class="mb-0.5 p-5 shadow">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2 text-blue-500">
      <app-layout-toggle-button
        class="flex h-7 w-7 cursor-pointer items-center justify-center rounded-full transition-colors hover:bg-slate-300"
      >
        <lucide-icon [img]="MenuIcon" size="20" />
      </app-layout-toggle-button>
      <h1 class="font-bold">UI Template Gallery</h1>
    </div>

    <div class="flex items-center gap-4">
      <app-header-search />
      <app-header-auth />
    </div>
  </div>
</div>
