/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.action-menu .mat-mdc-menu-item.danger {
  color: #ef4444;
}

.action-menu .mat-mdc-menu-item.danger mat-icon {
  color: #ef4444;
}

.sidebar {
  padding-left: 16px;
}

.sidenar-container {
  height: 100%;
}
.menu {
  padding: 10px;
  min-width: 280px;
}

.sidebar-flyout {
  translate: 64px -64px !important;
}
